body {
    font-family: "Raleway", sans-serif;
}

/* Font tipo manuscrito */
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Font textos */
.hind-madurai-light {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hind-madurai-regular {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hind-madurai-semi-regular {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.hind-madurai-medium {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hind-madurai-semibold {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hind-madurai-bold {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-brand{
    width: 100px;
}
.navbar-brand img{
    width:70px ;
    height: 70px;
    /* shape-rendering: 56; */
    /* aspect-ratio: auto 56/100; */
}



/* Resume-Section */
#Resume-Section {
    background-image: url("../images/18697.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}

/* Sección Mi experiencia Profesional */
#MiExperienciaProfesional .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}